.a1{
 margin-left: 220px;
 height: 250px;
 margin-top: 60px;
}
.a2{position: relative;
top: -60px;
font-family: Roboto;
font-size: 50px;
font-weight: 400;
line-height: 59px;
letter-spacing: 0.02em;
margin-left: 350px;
}
.a3{
font-family: Roboto;
font-size: 22px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.02em;
margin-left: 200px;
position: relative;
top: -110px;
}
.a4{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 180;
    line-height: 32px;
    letter-spacing: 0.02em;
    margin-left: 400px;
    position: relative;
   top: -10px;
}